[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
keygen = "python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'"
